.footer
    // max-width: 1180px
    margin: 0 auto
    background-color: #F8F8F8
    padding: 30px 20px
    text-align: center
    color: #999
    line-height: 24px
    font-weight: 300

    a
        color: #2e3444
