.header
    border-bottom: 1px solid #ccc

.header-nav
    height: 60px;
    line-height: 60px
    max-width 1180px
    background-color: #fff
    margin: 0 auto

    .main-nav-link
        margin-right: 20px
        -webkit-transition: color .3s
        transition: color .3s

        &:hover
            color: #00a2ff

    & .header-left
        float: left

    & .header-right
        float: right



